body {
    padding-top: 10px;
    margin: 0px;
    background: black url("mov.gif") no-repeat;
    background-size: cover;
  }

.hometext h1, h2, h3, h4{
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.Contact{
  margin-top: 300px;
}

.pdetail h1, .pdetail p,.ndetail h1, .ndetail p{
  color: white;
}
.pdetail p,.ndetail p{
  font-size:1.2rem;}

.pdetail a,.ndetail a{
  font-weight: bold;
}


