body {
    padding-top: 10px;
    margin: 0px;
    background: black url("mov.gif") repeat-x;
    /* background-size: cover; */
  }

.hometext h1, .hometext h2, .hometext h3, .hometext h4{
  margin-top: 20px;
  color: white;
  font-weight: bold;
}
h1,h2,h3,h4{
  margin-top: 20px;
  color: black;
  font-weight: bold;

}

.Contact{
  margin-top: 300px;
}

.pdetail h1, .pdetail p,.ndetail h1, .ndetail p{
  color: black;
}
.pdetail p,.ndetail p{
  font-size:1.2rem;}

.pdetail a,.ndetail a{
  font-weight: bold;
}
.h5{
  color: black;
}

