{% extends 'base.html' %}
{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'Project' %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'News' %}">News</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Create' %}">NEWPOST</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}

<form class ="gform" method="POST" data-email="kyj560785@gmail.com" action="https://script.google.com/macros/s/AKfycbyHY-hghCgbFWaGKfy27ep3dvSbrI7bAkKKjdBo1lmj0TBuRSU/exec">
   
          <div class="container">
            <form >
                  <br>
              <h4>Name:</h4>
              <input type="text" name="boardname" placeholder="이름을 입력해주세요">
              <h4>Message: </h4>
              <textarea cols=40 rows=10 name="Message" placeholder="메세지를 입력해주세요"></textarea>
              <h4>Email: </h4>
              <textarea cols=40 rows=1 name="email" type="email" value=""
              required placeholder="your.name@email.com"></textarea>
              <br>
              <br>
              <input class="btn btn-dark" type="submit" value="메일전송">
              
            </form>
      
            <div class="thankyou_message" style="display:none;">
            <h2><em>Thanks</em> for contacting me!
              I will get back to you soon!</h2>
            </div> 
      
        </form>
      
        <script data-cfasync="false" type="text/javascript"
        src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js">
        </script>
       

{% endblock %}    
