{% extends 'base.html' %}
{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'Project' %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'News' %}">News</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"style="color:darkblue;" href="{% url 'Create' %}">NEWPOST</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}


<div style="padding-top:20px;background-color:rgba(255, 255, 255, 0.801);height: 800px;"   class="container">
  
  <form action="{% url 'postcreate' %}"  enctype="multipart/form-data" method="POST">
    {% csrf_token %}

    <!-- {% if messages %}
        <div  class="messages">
          {% for message in messages %}
          <h3 style="color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
          {% endfor %}
        </div>
    {% endif %} -->
    
        <h4>게시판:</h4>
          <select style="width:300px; height: 40px; font-size: 1.2rem;"  name="boardname">
            <option value="Projects">Projects</option>
            <option value="News">News</option>
          </select>
          <h4>글 제목: </h4>
          <input required style="width:980px;height: 50px;" type="text" name="title">
          <h4>본문: </h4>
          <textarea required cols=120 rows=10 name="body"></textarea>
          <h4>이미지: </h4>
          <input type="file" name="images" accept="image/*">
          <h4>Link: </h4>
          <textarea required cols=120 rows=2 name="link"></textarea>
          <br>
          <br>
        <!-- <h5 style="color: whitesmoke;">본인확인암호: </h5>
        <textarea required cols=30 rows=1 name="password"></textarea> -->
        
          <input class="btn btn-dark" type="submit" value="글쓰기">
    <div>
  </form>
</div>

{% endblock %}