{% extends 'base.html' %}
{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'Project' %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'News' %}">News</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Create' %}">NEWPOST</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}

<br>
<div class="container">
	<form action="{% url 'postcreate' %}">
	  <h4>게시판제목: [Projects | News ] </h4>
	  <input style="width:980px;" type="text" name="boardname">
	  <h4>글 제목: </h4>
	  <input style="width:980px;" type="text" name="title">
	  <h4>본문: </h4>
	  <textarea cols=120 rows=10 name="body"></textarea>
	  <h4>Link: </h4>
	  <textarea cols=120 rows=1 name="link"></textarea>
	  <br>
	  <br>
	  <input class="btn btn-dark" type="submit" value="글쓰기">
  </form>
</div>

{% endblock %}