{% extends 'base.html' %}
{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'Project' %}">Projects</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'News' %}">News</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"style="color:darkblue;" href="{% url 'Create' %}">NEWPOST</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}

<h4 style="visibility: hidden;" > {{news.update_ncounter}} </h4>

      <div class="ndetail" style="background-color:rgba(255, 255, 255, 0.801); text-align:center;">

  
        <h1 style="padding-top:30px">{{ news.n_title }}</h1> 
        작성일시 : {{ news.n_pub_date }}
        <br>
        조회수 : {{news.n_views}} 
        <a style="background-color: yellowgreen;color:black;margin-left:250px;"href="{% url 'Ndelete' news.id %}"> 삭제 </a>
        <a style="background-color: yellowgreen;color:black;margin-left: 20px;"href="{% url 'Nupdate' news.id %}"> 수정 </a>
        <a style="background-color: yellowgreen;color:black; margin-left: 20px;"href="{% url 'News' %}"> 돌아가기 </a>
        
        
        <br>

        <hr>
        <p style="margin-top:20px;text-align:left;margin-left:320px;">{{ news.n_body|linebreaksbr }}</p> 
        <div>
        {% if news.n_images %}
                <img src="{{ news.n_images.url }}" width="600" height="500">
          {% endif %}
        </div>
        <!-- <p>{{ news.n_writer }}</p>  -->
        <br>
        <br>
        <br>
        <br>

        
    </div>

{% endblock %}