{% extends 'base.html' %}
{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'Project' %}">Projects</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'News' %}">News</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:darkblue;"href="{% url 'Create' %}">NEWPOST</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}

  
      {% for news in posts %}
      <div class="container"> 
      <div class="card">
        <div class="card-body">
        <h1>{{ news.n_title }}</h1>
        <p>{{ news.n_pub_date}}</p>
        <p>{{ news.n_summary }}<br><a href="{% url 'Ndetail' news.id %}"> 자세히 보기</a></p> 
        </div>
      </div>
      </div>
      <br>
      {% endfor %}

      {%if posts.has_previous%}
      <a href="?page=1">First</a>
      <a href="?page={{posts.previous_page_number}}">Previous</a>
      {%endif%}

      <span>{{posts.number}}</span>
      <span>of</span>
      <span>{{posts.paginator.num_pages}}</span>

      {%if posts.has_next%}
      <a href="?page={{posts.next_page_number}}">Next</a>
      <a href="?page={{posts.paginator.num_pages}}">Last</a>
      {%endif%}

{% endblock %}