{% extends 'base.html' %}

{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Project' %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'News' %}">News</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:darkblue;"href="{% url 'Create' %}">NEWPOST</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
      <div class="pdetail">

  
        <h1>제목 : {{ blog.p_title }}</h1>
        <p>작성일시 : {{ blog.p_pub_date }}</p>
        <p>내용 : {{ blog.p_body }}</p> 
        <p>링크 : {{ blog.p_link }}</p> 
        <p>작성자 : {{ blog.p_writer }}</p> 
        <br>
        <br>
        <br>
        <br>
        <a style="color:black;"href="{% url 'Pdelete' blog.id %}">삭제하기</a>
        <a style="color:black; margin-left: 20px;"href="{% url 'Project' %}">돌아가기</a>
        
      </div>

{% endblock %}