{% extends 'base.html' %}

{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Project' %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'News' %}">News</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:darkblue;"href="{% url 'Create' %}">NEWPOST</a>
      </li>
    </ul>
  </div>
{% endblock %}
{% block content %}
   

      {% for blog in posts %}
      <div class="container"> 
      <div class="card">
        <div class="card-body">
        <h1>{{ blog.p_title }}</h1>
        <p>{{ blog.p_pub_date}}</p>
        <p>{{ blog.p_summary }}<br><a href="{% url 'Pdetail' blog.id %}"> 자세히 보기</a></p> 
        </div>
      </div>
      </div>
      <br>
      {% endfor %}

      <div style="text-align: center;" class="pagina">
        {%if posts.has_previous%}
        <a style="color: white;"href="?page=1">처음 | </a>
        <a style="color: white;" href="?page={{posts.previous_page_number}}">이전 | </a>
        {%endif%}

        <span style="color: white;">{{posts.number}}</span>
        <span style="color: white;">of</span>
        <span style="color: white;" >{{posts.paginator.num_pages}} | </span>

        {%if posts.has_next%}
        <a style="color: white;" href="?page={{posts.next_page_number}}">다음 | </a>
        <a style="color: white;" href="?page={{posts.paginator.num_pages}}">마지막</a>
        {%endif%}
      </div>

{% endblock %}


    <!-- 
        <h1>hello world</h1>
    <a href="{% url 'new' %}">new</a> -->



