{% extends 'base.html' %}

{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Project' %}">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'News' %}">News</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:darkblue;"href="{% url 'Create' %}">NEWPOST</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}

<br>
<div class="container">
	<form method="POST">
	  {% csrf_token %}
	  <h4>제목: </h4>
	  <input type="text" name="title">
	  <br>
	  <br>
	  <h4>본문: </h4>
	  <textarea cols=40 rows=10 name="body"></textarea>
	  <br>
	  <br>
	  <h4>링크: </h4>
	  <input type="text" name="link">
	  <br>
	  <input class="btn btn-dark" type="submit" value="수정하기">
  </form>
</div>


{% endblock %}
