{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock css %}

{% block content %}
<div class="reg">
  <p>WELCOME</p>
  
    <form action="{% url 'Myinfo:createP'%}" method="post">{% csrf_token %}

      name : <input type="text" name="name"></br>
      email : <input type="text" name="email"></br>
      github_link : <input type="text" name="github_link"></br>
      skill : <input type="text" name="skill"></br>
      sns : <input type="text" name="sns"></br>
      <input type="submit" name="Register"></br>
    </form>
  </div>

{% endblock content %}
